# IDE files
.idea/
*.iml
.vscode/

# Gradle build files
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Application logs
logs/
*.log

# Spring Boot
application-local.yml
!application.yml

# OS specific files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp

docs/*